<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.by.mapper.degree.DegreeMapper">

    <!--保存-->
    <insert id="save">
        INSERT INTO degree ( degree_name)
        values (#{degreeName})
    </insert>
     <!--查询-->
    <select id="query" resultType="degree">
        <!--id  命名不规范  数据库字段命名一般都是纯小写-->
        select id,
               degree_name AS degreeName
        from degree
    </select>

    <!--修改-->
    <update id="update">
        update dept
        <set>
            degree_name=#{degreeName},
        </set>
        where  id=#{id}
    </update>

    <!--删除用户-->
  <delete id="delete">
delete from employees where  id=#{id}
  </delete>


</mapper>