<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.by.mapper.sys.UserMapper">

    <!--查询用户列表-->
     <select id="query" resultType="user">
         SELECT
         u.id,
         u.account,
         u.isLock,
         u.effectiveDate,
         u.signUrl,
         u.note,
         DATE_FORMAT( u.createTime, '%Y-%m-%d %H:%i' ) createTime,
         DATE_FORMAT( u.updateTime, '%Y-%m-%d %H:%i' ) updateTime,
         u.eid,
         u.NAME,
         u.roles,
         r.name roleName,
         DATE_FORMAT( u.loginTime, '%Y-%m-%d %H:%i' ) loginTime
         FROM
         s_user u left join  s_role r on u.roles=r.id
         <where>
             u.isdel = 0
             <if test="account!=null and account!=''">
                 and u.account like concat('%',#{account},'%')
             </if>
             <if test="name!=null and name!=''">
                 and u.name like concat('%',#{name},'%')
             </if>
             <if test="isLock!=null ">
                 and u.isLock=#{isLock}
             </if>
         </where>
         ORDER BY
         u.updateTime DESC
     </select>
    <!--根据用户名查询用户-->
    <select id="queryUserByAccount" resultType="user">
        SELECT
            u.id,
            u.account,
            u.password,
            u.isLock,
            u.signUrl,
            u.eid,
            u.NAME,
            u.roles,
            DATE_FORMAT( u.loginTime, '%Y-%m-%d %H:%i' ) loginTime
        FROM
            s_user u
        where u.isdel=0 and u.account =#{account} and  u.effectiveDate   <![CDATA[ <= ]]>  CURDATE()
    </select>

    <!--保存-->
    <insert id="save">
        INSERT INTO s_user (
        account,
        PASSWORD,
        effectiveDate,
        signUrl,
        note,
        eid,
        NAME,
        roles) values(#{account},md5('666666'),#{effectiveDate},#{signUrl},#{note},#{eid},#{name},#{roles})
    </insert>

    <!--更新登录时间-->
    <update id="updateLoginTime">
        update s_user set loginTime=now() where id=#{id}
    </update>
    <!--修改-->
    <update id="update">
         update s_user
         <set>
             <if test="password!=null and password !=''">
                 password=md5(#{password}),
             </if>
             <if test="isLock!=null ">
                 isLock=#{isLock},
             </if>
             <if test="effectiveDate!=null and effectiveDate!=''">
                 effectiveDate=#{effectiveDate},
             </if>
             <if test="signUrl!=null and signUrl!=''">
                 signUrl=#{signUrl},
             </if>
             <if test="note!=null and note!=''">
                 note=#{note},
             </if>
             <if test="eid!=null and eid!=''">
                 eid=#{eid},
             </if>
             <if test="name!=null and name!=''">
                 name=#{name},
             </if>
             <if test="roles!=null and roles!=''">
                 roles=#{roles},
             </if>
             updateTime=now()
         </set>
        where id=#{id}
    </update>

    <!--删除用户-->
    <update id="delete" >
        update s_user set isdel=1 where id=#{id}
    </update>

    <!--根据账号名查询账号-->
    <select id="queryByAccount" resultType="int">
        select count(1) from s_user where account =#{account}  and isdel=0
    </select>
    <!--根据id查询用户详情-->
    <select id="getById" resultType="user">
        select password from s_user where id=#{id}
    </select>

    <!--修改密码-->
    <update id="modifyPwd" >
        update s_user set password=md5(#{newpwd}) where id=#{id}
    </update>

</mapper>