<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.by.mapper.dept.DeptMapper">

    <!--保存-->
    <insert id="save">

        INSERT INTO dept ( dept_name)
        values (#{deptName})
    </insert>
     <!--查询-->
    <select id="query" resultType="dept">
        select id,
               dept_name AS deptName
        from dept
    </select>



    <!--修改-->
    <update id="update">
        update dept
        <set>
            dept_name=#{deptName}
        </set>
        where  id=#{id}
    </update>

    <!--删除用户-->
  <delete id="delete">
delete from dept where  id=#{id}
  </delete>


</mapper>